<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-6 columns">
                <span>今日傳媒(股)公司版權所有，非經授權，不許轉載本網站內容 © 2016 NOWnews.com. All Rights Reserved.</span>
            </div>
            <div class="large-6 columns">
                <ul class="menu align-right">
                    <li>
                        <a href="/s/disclaimer" target="_blank" class="">免責聲明</a>
                    </li>
                    <li>
                        <a href="/s/privacy" target="_blank" class="">隱私權聲明</a>
                    </li>
                    <li>
                        <a href="/s/copyright" target="_blank" class="">著作權聲明</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
