<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- favicon -->
<link rel="icon" href="/static/images/favicon/favicon.ico?v=1">

<!-- Foundation -->
<link rel="stylesheet" href="/static/dist/css/foundation.min.css">
<script src="/static/dist/js/jquery.min.js"></script>
<script src="/static/dist/js/foundation.min.js"></script>

<!-- Fontawesome -->
<link rel="stylesheet" href="/static/dist/css/font-awesome.min.css">

<!-- Datepicker -->
<link rel="stylesheet" href="/static/dist/css/foundation-datepicker.min.css">

<!-- sweetalert -->
<link rel="stylesheet" href="/static/dist/css/sweetalert.min.css">
<script src="/static/dist/js/sweetalert.min.js"></script>


<!-- Customize -->
<link rel="stylesheet" href="/static/dist/css/admin.min.css">
<script src="/static/dist/js/admin.min.js"></script>
