<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Foundation -->
<link rel="stylesheet" href="/bower/foundation-sites/dist/foundation.min.css">
<!-- <link rel="stylesheet" href="/bower/foundation-sites/dist/foundation-flex.min.css"> -->
<!-- <link rel="stylesheet" href="/bower/foundation-sites/dist/foundation-rtl.min.css"> -->
<script src="/bower/jquery/dist/jquery.js"></script>
<script src="/bower/foundation-sites/dist/foundation.min.js"></script>
<script>
    $(function () {
        $(document).foundation();
    });
</script>
