<div class="large-15 medium-15 columns">
    <div class="news-block">
        <div class="news-block-title">
            <h3>熱門文章</h3>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="tabs-content " data-tabs-content="example-vert-tabs">
        <div class="tabs-panel is-active" id="panel1v">
            <div class="row" data-equalizer data-equalize-on="medium" id="test-eq">
                {% for idx in range(0, 6) %}
                    {% set title = beautyArticle[idx].title %}
                    {% set img = beautyArticle[idx].featured_image %}
                    {% set url = beautyArticle[idx].url %}
                    <div class="medium-5 columns">
                        <div class="callout" data-equalizer-watch>
                            <a href="{{ url }}" target="_blank">
                                <img src="{{ img }}" class="thumbnail" alt="{{ title }}">
                                <h4>{{ title }}</h4>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
