<div class="large-15 medium-15 columns">
    <div class="news-block">
        <div class="news-block-title">
            <h3>熱門文章</h3>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="tabs-content " data-tabs-content="example-vert-tabs">
        <div class="tabs-panel is-active" id="panel1v">
            <div class="row" data-equalizer data-equalize-on="medium" id="test-eq">
                {% for idx in range(0, 6) %}
                    {% set title = news36[idx].title %}
                    {% set img = news36[idx].imgs[0].img %}
                    {% set imgtitle = news36[idx].imgs[0].title %}
                    {% set date = news36[idx].d %}
                    {% set time = news36[idx].t %}
                    {% set url = "http://www.nownews.com" + news36[idx].url %}
                    <div class="medium-5 columns">
                        <div class="callout" data-equalizer-watch>
                            <a href="{{ url }}" target="_blank">
                                <img src="http://imgapi.nownews.com/?w=540&h=365&q=60&src={{ img }}" class="thumbnail" alt="{{ title }}">
                                <h4>{{ title }}</h4>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
