<footer style="margin-top:50px">
    <div class="expanded callout">
        <div class="row">
            <div class="small-10 columns">
                <h5>NOWNews頻道</h5>
                <div class="row medium-up-3 large-up-4 xlarge-up-8">
                    <div class="column"><img class="thumbnail" src="http://placehold.it/75x75" alt="image of space dog"></div>
                    <div class="column"><img class="thumbnail" src="http://placehold.it/75x75" alt="image of space dog"></div>
                    <div class="column"><img class="thumbnail" src="http://placehold.it/75x75" alt="image of space dog"></div>
                    <div class="column"><img class="thumbnail" src="http://placehold.it/75x75" alt="image of space dog"></div>
                    <div class="column"><img class="thumbnail" src="http://placehold.it/75x75" alt="image of space dog"></div>
                    <div class="column"><img class="thumbnail" src="http://placehold.it/75x75" alt="image of space dog"></div>
                    <div class="column"><img class="thumbnail" src="http://placehold.it/75x75" alt="image of space dog"></div>
                    <div class="column"><img class="thumbnail" src="http://placehold.it/75x75" alt="image of space dog"></div>
                </div>
            </div>
            <div class="small-5 columns">
                <h5>Follow Us</h5>
                <i class="fa fa-facebook fa-5" style="font-size:30px;padding:10px"></i>
                <i class="fa fa-google-plus-square fa-5" style="font-size:30px;padding:10px"></i>
                <i class="fa fa-instagram fa-5" style="font-size:30px;padding:10px"></i>
                <i class="fa fa-twitter fa-5" style="font-size:30px;padding:10px"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="xxlarge-8 medium-6 columns">
            <ul class="menu align-center">
                <li><img src="http://placehold.it/200x40"></li>
                <li id="copyleft" class="menu-text">Copyright © 2016 今日傳媒股份有限公司</li>
            </ul>
        </div>
        <div class="xxlarge-8 medium-6 columns">
            <ul class="menu align-right">
                <li><a href="#">版權宣告</a></li>
                <li><a href="#">合作夥伴</a></li>
                <li><a href="#">關於我們</a></li>
            </ul>
        </div>
    </div>
</footer>
