<footer class="footer">
    <div class="expanded callout">
        <div class="row">
            <div class="large-10 medium-10 small-15 columns">
                <h5>NOWNews頻道</h5>
                <div class="row medium-15 large-15 small-15 text-center">
                    <div class="column large-2 small-5">
                        <a href="http://huasons.nownews.com/?from=NOWvote" target="_blank" class=""><i class="fa fa-eye fa-fw"></i>花生網</a>
                    </div>
                    <div class="column large-2 small-5">
                        <a href="http://beauty.nownews.com/?from=NOWvote" target="_blank" class=""><i class="fa fa-heart fa-fw"></i>美人幫</a>
                    </div>
                    <div class="column large-2 small-5">
                        <a href="http://www.nownews.com/cat/entertainment/hotzone?from=NOWvote" class=""><i class="fa fa-transgender-alt"></i>色區</a>
                    </div>
                    <div class="column large-2 small-5">
                        <a href="http://watchnow.nownews.com/?from=NOWvote" target="_blank" class=""><i class="fa fa-video-camera fa-fw"></i>看電影</a>
                    </div>
                    <div class="column large-2 small-5">
                        <a href="http://nownews.click108.com.tw/?from=NOWvote" target="_blank" class=""><i class="fa fa-hand-lizard-o fa-fw"></i>星座算命</a>
                    </div>
                    <div class="column large-2 small-5">
                        <a href="http://game.nownews.com/?from=NOWvote" target="_blank" class=""><i class="fa fa-gamepad fa-fw"></i>網頁遊戲</a>
                    </div>
                    <div class="column large-3"></div>
                </div>
            </div>
            <div class="large-5 medium-5 small-15 columns follow-box">
                <h5>Follow Us</h5>
                <div class="small-15 text-center">
                <a href="https://www.facebook.com/nownews/"><i class="fa fa-facebook"></i></a>
                <a href="https://plus.google.com/+nownews/posts"><i class="fa fa-google-plus-square"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="https://twitter.com/nownewsnownews"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-8 medium-6 columns">
            <ul class="menu align-center">
                <li><img src="http://www.nownews.com/assets/images/logo.png" width="200px"></li>
                <li id="copyleft" class="menu-text">Copyright © 2016 今日傳媒股份有限公司</li>
            </ul>
        </div>
        <div class="large-7 medium-6 columns">
            <ul class="menu align-right">
                <li>
                    <a href="#">版權宣告</a>
                </li>
                <li>
                    <a href="#">合作夥伴</a>
                </li>
                <li>
                    <a href="#">關於我們</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
