<footer class="footer">
    <div class="expanded callout">
        <div class="row">
            <div class="small-10 columns">
                <h5>NOWNews頻道</h5>
                <div class="row medium-up-3 large-up-4 xlarge-up-8">
                    <div class="column"><img class="thumbnail" src="http://a1.mzstatic.com/us/r30/Purple6/v4/67/62/98/6762982f-917e-0078-ed4a-a82a3acb30a4/icon75x75.png" alt="image of space dog"></div>
                    <div class="column"><img class="thumbnail" src="http://beta.hellofetch.com/assets/fetch-home-logo-56eab3b6c4245f6fdfdf3b68e4646abd.svg" alt="image of space dog"></div>
                    <div class="column"><img class="thumbnail" src="http://blog.theasi.co/content/images/2015/05/logo.png" alt="image of space dog"></div>
                    <div class="column"><img class="thumbnail" src="http://a1.mzstatic.com/us/r30/Purple6/v4/67/62/98/6762982f-917e-0078-ed4a-a82a3acb30a4/icon75x75.png" alt="image of space dog"></div>
                    <div class="column"><img class="thumbnail" src="http://beta.hellofetch.com/assets/fetch-home-logo-56eab3b6c4245f6fdfdf3b68e4646abd.svg" alt="image of space dog"></div>
                    <div class="column"><img class="thumbnail" src="http://blog.theasi.co/content/images/2015/05/logo.png" alt="image of space dog"></div>
                    <div class="column"><img class="thumbnail" src="http://a1.mzstatic.com/us/r30/Purple6/v4/67/62/98/6762982f-917e-0078-ed4a-a82a3acb30a4/icon75x75.png" alt="image of space dog"></div>
                    <div class="column"><img class="thumbnail" src="http://beta.hellofetch.com/assets/fetch-home-logo-56eab3b6c4245f6fdfdf3b68e4646abd.svg" alt="image of space dog"></div>
                </div>
            </div>
            <div class="small-5 columns follow-box">
                <h5>Follow Us</h5>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-google-plus-square"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-twitter"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="xxlarge-8 medium-6 columns">
            <ul class="menu align-center">
                <li><img src="http://www.nownews.com/assets/images/logo.png" width="200px"></li>
                <li id="copyleft" class="menu-text">Copyright © 2016 今日傳媒股份有限公司</li>
            </ul>
        </div>
        <div class="xxlarge-8 medium-6 columns">
            <ul class="menu align-right">
                <li>
                    <a href="#">版權宣告</a>
                </li>
                <li>
                    <a href="#">合作夥伴</a>
                </li>
                <li>
                    <a href="#">關於我們</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
