<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- favicon -->
<link rel="icon" href="/static/images/favicon/favicon.ico">

<!-- jQuery -->
<script src="/static/dist/js/jquery.min.js"></script>

<!-- Foundation -->
<script src="/static/dist/js/foundation.min.js"></script>
<script src="/static/dist/js/foundation.orbit.min.js"></script>

<!-- Fontawesome -->
<link rel="stylesheet" href="/static/dist/css/font-awesome.min.css">

<!-- Lodash -->
<script src="/static/dist/js/lodash.min.js"></script>

<!-- Custom -->
<link rel="stylesheet" href="/static/dist/css/main.min.css">
<link rel="stylesheet" href="/static/dist/css/custom.min.css">
<script src="/static/dist/js/main.min.js"></script>
