<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- favicon -->
<link rel="icon" href="/static/images/favicon/favicon.ico">

<!-- ============================ JS ============================ -->
<!-- jQuery -->
<script src="/static/dist/js/jquery.min.js"></script>

<!-- Foundation -->
<script src="/static/dist/js/foundation.min.js"></script>

<!-- Lodash -->
<script src="/static/dist/js/lodash.min.js"></script>

<!-- sweetalert -->
<script src="/static/dist/js/sweetalert.min.js"></script>

<!-- slick -->
<script type="text/javascript" src="/static/dist/js/slick.min.js"></script>

<!-- is js -->
<script type="text/javascript" src="/static/dist/js/is.min.js"></script>

<!-- Custom -->
<script src="/static/dist/js/main.min.js"></script>

<!-- ============================ CSS ============================ -->
<!-- Fontawesome -->
<link rel="stylesheet" href="/static/dist/css/font-awesome.min.css">

<!-- hamburger menu -->
<link rel="stylesheet" href="/static/dist/css/hamburgers.min.css">

<!-- sweetalert -->
<link rel="stylesheet" type="text/css" href="/static/dist/css/sweetalert.min.css">

<!-- slick -->
<link rel="stylesheet" type="text/css" href="/static/dist/css/slick.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/dist/css/slick-theme.min.css"/>

<!-- Custom -->
<link rel="stylesheet" href="/static/dist/css/main.min.css">
<link rel="stylesheet" href="/static/dist/css/custom.min.css">
