<header class="header">
    <div class="header-sticky-container">
        <div class="title-bar show-for-large">
            <div class="title-bar-left">
                <a id="logo" href="/">
                    <img src="/static/images/logo.png"/>
                </a>
                <ul class="category-menu menu" style="margin-left: 170px;">
                    {% for category in categories %}
                        {% if category.externalLink %}
                            <li class="has-submenu">
                                <a class="hollow button externalLink" href="{{ category.url }}" target="_blank">{{ category.title }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a class="hollow button" href="{{ category.url }}">{{ category.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="title-bar-right">
                {% if previewData %}
                    <p class="preview-logo">預覽畫面</p>
                {% else %}
                    <ul class="menu">
                        {# 從 middlewares auth 裡面的 res.locals.user 取得 #}
                        {% if user %}
                            <li>
                                <a href="/user/me"><i class="fa fa-user fa-fw"></i>我的帳戶</a>
                            </li>
                            <li>
                                <a class="user-receipt" href="#"><i class="fa fa-wpforms fa-fw"></i>建議議題</a>
                            </li>
                            <li>
                                <a class="button" href="/auth/logout"><i class="fa-fw fa fa-sign-out"></i>登出</a>
                            </li>
                        {% else %}
                            <li>
                                <a class="button" href="#login-modal"><i class="fa-fw fa fa-sign-in"></i>登入</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="mobile-title-bar" data-responsive-toggle="widemenu" data-hide-for="large">
            <div class="title-bar-left">
                <button class="hamburger hamburger--slider js-hamburger" type="button">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </button>
            </div>
            <h1>
                <a class="mobile-logo" href="/">
                    <img src="/static/images/logo.png"/>
                    <span style="display:none">NOWvote議題票選 | NOWnews今日傳媒</span>
                </a>
            </h1>
        </div>
    </div>
</header>
