<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Foundation -->
<link rel="stylesheet" href="/static/stylesheets/main.css">


<!-- Fontawesome -->
<link rel="stylesheet" href="/bower/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/stylesheets/custom.css">

<script src="/bower/jquery/dist/jquery.js"></script>
<script src="/bower/foundation-sites/dist/foundation.min.js"></script>
<script>
$(function() {
    $(document).foundation();
    $('.title-bar').on('sticky.zf.stuckto:top', function(){
        $(this).addClass('shrink');
    }).on('sticky.zf.unstuckfrom:top', function(){
        $(this).removeClass('shrink');
    });
});

</script>
