<link rel="stylesheet" href="/static/dist/css/remodal.min.css">
<link rel="stylesheet" href="/static/dist/css/remodal-default-theme.min.css">
<script src="/static/dist/js/remodal.min.js"></script>

<div class="remodal" data-remodal-id="login-modal">
    <div class="login-header">
        <button data-remodal-action="close" class="remodal-close"></button>
        <div class="title">
            <h3>Nownews 議題票選</h3>
        </div>
    </div>
    <hr>
    <div class="login-content row">
        <p>歡迎回來！你可以由此登入</p>
        <div class="large-15 columns">
            <a href="/auth/facebook" class="large-7 columns">
                <div class="fb-btn">
                    <i class="fa-fw fa fa-facebook"></i>
                    FACEBOOK
                </div>
            </a>
            <div class="large-1 columns"></div>
            <a href="/auth/google" class="large-7 columns">
                <div class="google-box">
                    <i class="fa-fw fa fa-google"></i>
                    GOOGLE+
                </div>
            </a>
        </div>
    </div>
    <div class="login-footer">
    </div>
</div>
