<div class="show-for-large">
    <div class="image-slick">
        {% for banner in banners %}
            <div>
                {% if banner.url %}
                    <a href="{{ banner.url }}" target="_blank"><img src="{{banner.desktopImage}}"></a>
                {% else %}
                    <img src="{{banner.desktopImage}}">
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

<div class="show-for-small-only">
    <div class="image-slick">
        {% for banner in banners %}
            <div>
                {% if banner.url %}
                    <a href="{{ banner.url }}" target="_blank"><img src="{{banner.mobileImage}}" alt="{{banner.desc}}"></a>
                {% else %}
                    <img src="{{banner.mobileImage}}" alt="{{banner.desc}}">
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

<div class="show-for-medium-only">
    <div class="image-slick">
        {% for banner in banners %}
            <div>
                {% if banner.url %}
                    <a href="{{ banner.url }}" target="_blank"><img src="{{banner.desktopImage}}"></a>
                {% else %}
                    <img src="{{banner.desktopImage}}">
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
