<div class="show-for-large">
    <div class="image-slick">
        {% for banner in banners %}
            <div>
                <img src="{{banner.desktopImage}}">
            </div>
        {% endfor %}
    </div>
</div>

<div class="show-for-small-only">
    <div class="image-slick">
        {% for banner in banners %}
            <div>
                <img src="{{banner.mobileImage}}">
            </div>
        {% endfor %}
    </div>
</div>

<div class="show-for-medium-only">
    <div class="image-slick">
        {% for banner in banners %}
            <div>
                <img src="{{banner.desktopImage}}">
            </div>
        {% endfor %}
    </div>
</div>
