<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zh-hant"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="zh-hant"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="zh-hant"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="zh-hant"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="/static/dist/css/main.min.css">

    <!--[if lt IE 9]>
        <script src="js/vendor/html5-3.6-respond-1.4.2.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <div class="off-canvas position-left" id="offCanvas" data-off-canvas >
          Off Canvas Content
        </div>

        <div class="off-canvas-content" data-off-canvas-content>

          <button type="button" class="button hide-for-medium" data-toggle="offCanvas">Open Menu</button>

          <!-- <div data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="title-bar-left">Content --X</div>
    <div class="title-bar-right">X-- Content</div>
  </div>
</div>
 -->
<header class="top-bar">

    <div class="row">

        <nav class="top-bar-left">

            <a id="logo" href="/"><img src="http://placehold.it/150x70" /></a>

            <ul class="dropdown menu" data-dropdown-menu>
              <li class="has-submenu">
                <a class="hollow button" href="/category/politic.html">生活分類</a>
                <ul class="menu submenu vertical" data-submenu>
                  <li><a href="/page/1.html">文字測試頁</a></li>
                  <li><a href="/page/2.html">直方測試頁</a></li>
                  <li><a href="/page/3.html">圓餅測試頁</a></li>
                </ul>
              </li>
              <li>
                <a class="button" href="/category/politic.html">政治分類</a>
              </li>
              <li>
                <a class="button" href="/category/politic.html">消費分類</a>
              </li>
              <li>
                <a class="button" href="/category/politic.html">社會分類</a>
              </li>
              <li>
                <a class="button" href="/category/politic.html">財經分類</a>
              </li>
            </ul>
        </nav>

        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="#">我的帳戶</a></li>
                <li><a class="button">登入</a></li>
            </ul>
        </div>

    </div>

</header>




    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
        <ul class="orbit-container">
            <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
            <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
            <li class="orbit-slide is-active">
                <img src="{{ banner.image }}">
            </li>
            <li class="orbit-slide">
                <img src="http://placehold.it/2000x450">
            </li>
            <li class="orbit-slide">
                <img src="http://placehold.it/2000x450">
            </li>
            <li class="orbit-slide">
                <img src="http://placehold.it/2000x450">
            </li>
        </ul>
    </div>


    <main>

        <div class="row column text-center">
            <h2>最新議題1</h2>
        </div>

        <div class="row small-up-1 medium-up-2 large-up-3 xlarge-up-4">



        <div class="column text-center">
            <img class="thumbnail" src="http://placehold.it/300x250">
            <h5>Nulla At Nulla Justo, Eget</h5>
        </div>

        <div class="column text-center">
            <img class="thumbnail" src="http://placehold.it/300x250">
            <h5>Nulla At Nulla Justo, Eget</h5>
        </div>

        <div class="column text-center">
            <img class="thumbnail" src="http://placehold.it/300x250">
            <h5>Nulla At Nulla Justo, Eget</h5>
        </div>

        <div class="column text-center">
            <img class="thumbnail" src="http://placehold.it/300x250">
            <h5>Nulla At Nulla Justo, Eget</h5>
        </div>

        <div class="column text-center">
            <img class="thumbnail" src="http://placehold.it/300x250">
            <h5>Nulla At Nulla Justo, Eget</h5>
        </div>

        <div class="column text-center">
            <img class="thumbnail" src="http://placehold.it/300x250">
            <h5>Nulla At Nulla Justo, Eget</h5>
        </div>

        <div class="column text-center">
            <img class="thumbnail" src="http://placehold.it/300x250">
            <h5>Nulla At Nulla Justo, Eget</h5>
        </div>

        <div class="column text-center">
            <img class="thumbnail" src="http://placehold.it/300x250">
            <h5>Nulla At Nulla Justo, Eget</h5>
        </div>

        <div class="column text-center">
            <img class="thumbnail" src="http://placehold.it/300x250">
            <h5>Nulla At Nulla Justo, Eget</h5>
        </div>

        <div class="column text-center">
            <img class="thumbnail" src="http://placehold.it/300x250">
            <h5>Nulla At Nulla Justo, Eget</h5>
        </div>

        <div class="column text-center">
            <img class="thumbnail" src="http://placehold.it/300x250">
            <h5>Nulla At Nulla Justo, Eget</h5>
        </div>

        <div class="column text-center">
            <img class="thumbnail" src="http://placehold.it/300x250">
            <h5>Nulla At Nulla Justo, Eget</h5>
        </div>


        </div>

    </main>



          <footer>

    <div class="expanded callout">
        <div class="row">

            <div class="small-10 columns">
            <h5>NOWNews頻道</h5>
            <div class="row medium-up-3 large-up-4 xlarge-up-8">
            <div class="column"><img class="thumbnail" src="http://placehold.it/75x75" alt="image of space dog"></div>
            <div class="column"><img class="thumbnail" src="http://placehold.it/75x75" alt="image of space dog"></div>
            <div class="column"><img class="thumbnail" src="http://placehold.it/75x75" alt="image of space dog"></div>
            <div class="column"><img class="thumbnail" src="http://placehold.it/75x75" alt="image of space dog"></div>
            <div class="column"><img class="thumbnail" src="http://placehold.it/75x75" alt="image of space dog"></div>
            <div class="column"><img class="thumbnail" src="http://placehold.it/75x75" alt="image of space dog"></div>
            <div class="column"><img class="thumbnail" src="http://placehold.it/75x75" alt="image of space dog"></div>
            <div class="column"><img class="thumbnail" src="http://placehold.it/75x75" alt="image of space dog"></div>
            </div>
            </div>

            <div class="small-5 columns">
                <h5>社群</h5>
                <span class="secondary label">Facebook</span>
                <span class="success label">Google+</span>
                <span class="alert label">Line</span>
                <span class="warning label">Wechat</span>
                <span class="alert label"><i class="fi-x-circle"></i>Plurk</span>
                <span class="warning label"><i class="fi-x"></i>Twitter</span>
                <span class="info label"><i class="fi-widget"></i>IG</span>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="xxlarge-8 medium-6 columns">
            <ul class="menu align-left">
                <li><img src="http://placehold.it/200x40"></li>
                <li id="copyleft" class="menu-text">Copyright © 2016 今日傳媒股份有限公司</li>
            </ul>
        </div>
        <div class="xxlarge-8 medium-6 columns">
            <ul class="menu align-right">
                <li><a href="#">版權宣告</a></li>
                <li><a href="#">合作夥伴</a></li>
                <li><a href="#">關於我們</a></li>
            </ul>
        </div>
    </div>
</footer>


        </div>
      </div>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
  <script>
    $(document).foundation();
  </script>
  </body>
</html>
