<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zh-hant"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="zh-hant"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="zh-hant"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zh-hant">
    <!--<![endif]-->
    <head>
        <title>新首頁</title>
        {% include "./blocks/head.html" %}

        <!-- 每頁自定義的區塊 -->
        {% block head %}{% endblock %}
        <!--[if lt IE 9]> <script src="js/vendor/html5-3.6-respond-1.4.2.min.js"></script> <![endif]-->
    </head>
    <body>
        <!--[if lt IE 8]> <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->

        <div class="off-canvas-wrapper">
          <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

            <!-- off-canvas title bar for 'small' screen -->
            <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
                <div class="title-bar-left">
                    <button class="menu-icon"  data-open="offCanvasLeft">
                        <div class="hamburger hamburger--slider js-hamburger" type="button">
                            <div class="hamburger-box">
                                <div class="hamburger-inner"></div>
                            </div>
                        </div>
                    </button>
                </div>
                <a id="logo" href="/">
                <img src="/static/images/logo.png"/ width="80px">
                </a>
            </div>

            <!-- off-canvas left menu -->
            <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
              <ul class="vertical dropdown menu" data-dropdown-menu>
                <li><a href="left_item_1">Left item 1</a></li>
                <li><a href="left_item_2">Left item 2</a></li>
                <li><a href="left_item_3">Left item 3</a></li>
              </ul>
            </div>

            <!-- off-canvas right menu -->
            <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
              <ul class="vertical dropdown menu" data-dropdown-menu>
                <li><a href="right_item_1">Right item 1</a></li>
                <li><a href="right_item_2">Right item 2</a></li>
                <li><a href="right_item_3">Right item 3</a></li>
              </ul>
            </div>


            {% include "./blocks/header.html" %}
            <div class="off-canvas-content" data-off-canvas-content>
            {% include "./blocks/slider.html" %}
            {% block container %}{% endblock %}
            {% include "./blocks/footer.html" %}
            </div>
        </div>
    </body>
</html>
