<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zh-hant"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="zh-hant"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="zh-hant"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-hant" itemscope="" itemtype="http://schema.org/NewsArticle">
    <!--<![endif]-->
    <head>
        {% include "./blocks/head.html" %}
        {% include "./blocks/ga.html" %}

        <!-- 每頁自定義的區塊 -->
        {% block head %}{% endblock %}

        <!--[if lt IE 9]> <script src="js/vendor/html5-3.6-respond-1.4.2.min.js"></script> <![endif]-->
    </head>
    <body>
        <!--[if lt IE 8]> <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->
        <div class="container layout">
            <div class="mask"></div>

            {% include "./blocks/header.html" %}

            <main class="main">
                {% include "./blocks/slider.html" %}
                {% block container %}{% endblock %}
            </main>
            {% include "./blocks/footer.html" %}
            {% include "./blocks/menuSidebar.html" %}
        </div>

        {% include "./blocks/loginModal.html" %}
    </body>
</html>
