<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="zh">
    <head>
        <title>新首頁</title>

        {% include "./blocks/head.html" %}
        {% block head %}{% endblock %}
    </head>
    <body>
        {% include "./blocks/header.html" %}
        {% include "./blocks/slider.html" %}

        <ul class="breadcrumbs">
            <li>
                <a href="/">Home</a>
            </li>
            {#{% block breadcrumbs %}{% endblock %}#}
        </ul>
        {% block container %}{% endblock %}
        {% include "./blocks/footer.html" %}
        <script>
            $(document).foundation();
            $('.title-bar').on('sticky.zf.stuckto:top', function () {
                $(this).addClass('shrink');
            }).on('sticky.zf.unstuckfrom:top', function () {
                $(this).removeClass('shrink');
            });
        </script>
    </body>
</html>
