{% extends "../index.html" %}

{# 設定變數 #}
{% set pageTitle = "修改分類" %}
{% set pageRoute = "/category" %}

{% block head %}
    <script src="/bower/foundation-datepicker/js/foundation-datepicker.js"></script>
    <script src="/bower/foundation-datepicker/js/locales/foundation-datepicker.zh-TW.js"></script>
{% endblock %}

{% block breadcrumbs %}
<li>
    <a href="{{ pageRoute }}">分類管理系統</a>
</li>
<li>{{ pageTitle }}</li>
{% endblock %}

{% block container %}
<article>
    {% if item %}
        <form method="post" action="{{ pageRoute }}/update/{{ item.sn }}">
            <input type="hidden" name="_method" value="put"/>
            <h3>{{ pageTitle }}</h3>
            <div class="status row float-right">
                <div class="large-4 columns">
                    {% if item.status %}
                        {{ component.switch("status", "create-status", item.sn, "checked") }}
                    {% else %}
                        {{ component.switch("status", "create-status") }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>標題
                        <input name="title" type="text" value="{{item.title}}" placeholder="請輸入標題" required/>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>URL
                        <input name="url" type="text" value="{{item.url}}" placeholder="請輸入URL" required/>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>描述
                        <textarea name="desc" placeholder="請輸入描述" required>{{item.desc}}</textarea>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="columns large-12">
                    {% if item.continued %}
                        {{ component.formEffectiveTime('checked', item.startAtDay, item.startAtHour, item.endAtDay, item.endAtHour ) }}
                    {% else %}
                        {{ component.formEffectiveTime('', item.startAtDay, item.startAtHour, item.endAtDay, item.endAtHour ) }}
                    {% endif %}
                </div>
            </div>
            <div class="text-right btn-box">
                <input type="submit" value="儲存" class="button alert"/>
                <a href="{{ pageRoute }}" class="button secondary">取消</a>
            </div>
        </form>
    {% endif %}
</article>
{% endblock %}
