{% extends "../index.html" %}

{# 設定變數 #}
{% set pageTitle = "登入" %}
{% set pageRoute = "/auth" %}

{% block container %}
    <form method="post" action="{{ pageRoute }}/login">
        <h3>{{ pageTitle }}</h3>
        <div class="row">
            <div class="large-12 columns">
                <label>email
                    <input name="email" type="email" placeholder="請輸入email" required/>
                </label>
            </div>
            <div class="large-12 columns">
                <label>password
                    <input name="password" type="password" placeholder="請輸入密碼" required/>
                </label>
            </div>
            <div class="text-center btn-box">
                <input type="submit" value="登入" class="button alert"/>
            </div>
        </div>
    </form>
{% endblock %}