.header {
    .title-bar {
        width: 100%;
        height: 50px;
        background: #fff;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
        -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    }

    .sticky-container {
        height: 50px;
        z-index: 10;
    }

    #logo {
        position: relative;
        float: left;
        margin-left: 20px;
        border:none;
    }
    .button.hollow {
        border:none;
    }

    .button.hollow:hover {
        border:none;
        cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;

    border-radius: 0;
    // padding: 0.85em 1em;
    margin-top:3px;
    font-size: 0.9rem;
    border-bottom: 3px solid #1fabd8;
    }

}
