{% extends "../index.html" %}

{# 設定變數 #}
{% set pageTitle = "新增議題" %}
{% set pageRoute = "/issue" %}

{% block head %}
    <script src="/bower/ckeditor/ckeditor.js"></script>
    <script src="/bower/taggingJS/tagging.js"></script>
    <script src="/bower/html.sortable/dist/html.sortable.min.js"></script>
    <script>
        $(function () {
            $('.add-option').on('sortupdate', function(e, obj){
				console.log('sortable--Parent old: ');
				console.log(obj.startparent);
				console.log('sortable--Parent new: ');
				console.log(obj.endparent);
				console.log('sortable--Index: '+obj.oldindex+' -> '+obj.index);
				console.log('sortable--elementIndex: '+obj.oldElementIndex+' -> '+obj.elementIndex);
			});
            $('.add-question').on('sortupdate', function(e, obj){
				console.log('sortable-inner--Parent old: ');
				console.log(obj.startparent);
				console.log('sortable-inner--Parent new: ');
				console.log(obj.endparent);
				console.log('sortable-inner--Index: '+obj.oldindex+' -> '+obj.index);
				console.log('sortable-inner--elementIndex: '+obj.oldElementIndex+' -> '+obj.elementIndex);
			});
        });
    </script>
{% endblock %}

{% block breadcrumbs %}
<li>
    <a href="{{ pageRoute }}">議題管理系統</a>
</li>
<li>{{ pageTitle }}</li>
{% endblock %}

{% block container %}
<article>
    <form method="post" action="{{ pageRoute }}/create">
        <h3>{{ pageTitle }}</h3>
        <div class="status row float-right">
            <div class="large-4 columns">
                {{ component.switch("status", "create-status") }}
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>標題
                    <input name="title" type="text" placeholder="請輸入標題" required/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <fieldset class="fieldset">
                    <legend>精選圖片 (主圖)</legend>
                    <label for="mainImg" class="button">上傳圖片</label>
                    <input type='file' class="show-for-sr imgInp" id="mainImg" name="file" required>
                    <label for="mainImg">
                        <img class="thumbnail" src="http://placehold.it/350x150" src="#" alt="your image">
                    </label>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>內文
                    <textarea class="ckeditor" id="editor" cols="80" rows="10" name="editor2"></textarea>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <fieldset class="fieldset">
                    <legend>圖片 (images)</legend>
                    <label for="imgInp" class="button">上傳圖片</label>
                    <input type='file' class="show-for-sr imgInp" id="imgInp" name="file" required>
                    <label for="imgInp">
                        <img class="thumbnail" src="http://placehold.it/350x150" id="blah" src="#" alt="your image">
                    </label>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>分類 (Tags)
                    <div id="tagBox2" class="tag-box">preexisting-tag</div>
                </label>
            </div>
        </div>
        <div class="row" id="aa">
            <div class="large-12 columns">
                <fieldset class="fieldset">
                    <legend>題目</legend>
                    <ul class="accordion question-box" data-accordion>
                        <li class="accordion-item is-active" data-accordion-item>
                            <a href="#" class="accordion-title">Accordion 1</a>
                            <div class="accordion-content" data-tab-content>
                                <ul class="menu vertical option-box">
                                </ul>
                                <div class="input-group">
                                    <input class="input-group-field" type="text" name="option" placeholder="新增選項" />
                                    <div class="input-group-button">
                                        <a class="add-option button">ADD</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="input-group">
                        <input class="input-group-field" type="text" name="question" placeholder="新增題目" />
                        <div class="input-group-button">
                            <a class="add-question button">ADD</a>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="text-right btn-box">
            <input type="submit" value="儲存" class="button alert"/>
            <a href="{{ pageRoute }}" class="button secondary">取消</a>
        </div>
    </form>
</article>
{% endblock %}
