{% extends "../index.html" %}

{# 設定變數 #}
{% set pageTitle = "修改議題" %}
{% set pageRoute = "/issue" %}

{% block head %}
    <script src="/bower_ckeditor/ckeditor.js"></script>
    <script src="/static/dist/js/tagging.min.js"></script>
    <script src="/static/dist/js/foundation-datepicker.min.js"></script>
    <script src="/static/dist/js/foundation-datepicker.zh-TW.min.js"></script>
    <script src="/static/dist/js/html.sortable.min.js"></script>
{% endblock %}

{% block breadcrumbs %}
<li>
    <a href="{{ pageRoute }}">議題管理系統</a>
</li>
<li>{{ pageTitle }}</li>
{% endblock %}

{% block container %}
<article>
    <form id="issue-form" method="post" action="{{ pageRoute }}/update/{{ issue.sn }}" enctype="multipart/form-data">
        <input type="hidden" name="_method" value="put"/>
        <h3>{{ pageTitle }}</h3>
        <div class="status row float-right">
            <div class="large-4 columns">
                {% if issue.status %}
                    {{ component.switch("status", "create-status", issue.sn, "checked") }}
                {% else %}
                    {{ component.switch("status", "create-status") }}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>標題
                    <input name="title" type="text" value="{{ issue.title }}" placeholder="請輸入標題" required/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>選擇分類
                    <select name="category">
                        <option value="{{ issue.category._id }}">{{ issue.category.title }}</option>
                        {% for category in categories %}
                            {% if category.id != issue.category._id %}
                                <option value="{{ category._id }}">{{ category.title }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <fieldset class="fieldset">
                    <legend>內容頁主圖 (mainImage)</legend>
                    <label for="main-img" class="button">上傳圖片</label>
                    <input type='file' class="show-for-sr img-input" id="main-img" name="mainImg">
                    <span class="subheader">    圖片尺寸請用 930x400</span>
                    <label for="main-img" class="image-box">
                        <img class="thumbnail" src="{{ issue.mainImage }}" alt="your image">
                    </label>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>內文
                    <textarea class="ckeditor" id="editor" name="desc">{{ issue.desc }}</textarea>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <fieldset class="fieldset">
                    <legend>列表頁縮圖 (thumbnail)</legend>
                    <label for="vice-img" class="button">上傳圖片</label>
                    <input type='file' class="show-for-sr img-input" id="vice-img" name="file">
                    <span class="subheader">    圖片尺寸請用 300x250</span>
                    <label for="vice-img">
                        <img class="thumbnail" src="{{ issue.thumbnail }}" alt="your image">
                    </label>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>分類 (Tags)
                    <div id="tagBox2" class="tag-box">{{ tags }}</div>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <fieldset class="fieldset">
                    <legend>題目</legend>
                    {% for question in issue.questions %}
                        {% set q_index = loop.index0 %}
                            <h4 class="question-title">
                                <i class="fa fa-question-circle-o fa-fw"></i>
                                {{ question.content }}
                            </h4>
                            <div class="option-box">
                                {% for option in question.options %}
                                    <p>
                                        <i class="fa fa-star fa-fw"></i>
                                        {{ option.content }}
                                    </p>
                                    <p class="text-center">共 {{ option.counter }} 票 ＋ 魔術數字 <input name="fakeNumber[{{ q_index}}]" class="option-counter" type="text" value="{{ option.fakeNumber }}" /></p>

                                {% endfor %}
                            </div>
                    {% endfor %}
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12">
                {% if issue.continued %}
                    {{ component.formEffectiveTime('checked', issue.startAtDay, issue.startAtHour, issue.endAtDay, issue.endAtHour ) }}
                {% else %}
                    {{ component.formEffectiveTime('', issue.startAtDay, issue.startAtHour, issue.endAtDay, issue.endAtHour ) }}
                {% endif %}
            </div>
        </div>
        <div class="text-right btn-box">
            <input type="submit" value="儲存" class="button success"/>
            <a id="preview-btn" class="button">預覽</a>
            <a href="{{ pageRoute }}" class="button secondary">取消</a>
        </div>
    </form>
</article>
{% endblock %}
