.user-title {
    text-align: center;
    .fa-3x {
        border: 1px solid #ddd;
        border-radius: 50%;
        color: #fff;
    }
    .fa-facebook {
        background: #3b5998;
        padding: 10px 20px 2px 16px;
    }
    .fa-google {
        padding: 7px 15px 5px 11px;
        background: #dc4e41;
    }
}
