{% extends "../index.html" %}
{% set title = issue.title %}
{% set description = issue.desc | striptags | truncate(120) %}
{% set shareimage = issue.mainImage %}
{% block head %}
    <script type='text/javascript' data-cfasync='false' src='//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js' data-shr-siteid='4b1680817c1becbb542777133c8125b1' async='async'></script>
{% endblock %}

{% block container %}
    <div class="row content-margin-top">
        <main class="main-right column large-10">
            <div class="container" id="content">
                <section class="container" flex-container="row">

                    <article class="m-main-content m-competition" flex-item="8" itemprop="articleBody">
                        <h1 class="vote-title">
                            {{ issue.title }}
                        </h1>
                        <div class="margin10 info-block">
                            <div class="social-btn">
                                <div class="shareaholic-canvas" data-app='share_buttons' data-app-id='24434417'></div>
                            </div>
                        </div>
                        <div class="margin10 info-block">
                            <ul class="breadcrumbs">
                                <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                    <a itemprop="url" href="/">
                                        <span itemprop="title">
                                            <i class="fa fa-home fa-fw" aria-hidden="true"></i>首頁</span>
                                    </a>
                                </li>
                                <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                    <a itemprop="url" href="/category/{{ issue.category.title }}" target="_blank">
                                        <span itemprop="title">{{ issue.category.title }}</span>
                                    </a>
                                </li>
                                <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                    <a itemprop="url" href="/issues/{{ issue.sn }}" target="_blank">
                                        <span itemprop="title">{{ issue.title }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="margin10 info-block">
                            {% if issue.continued %}
                                <span class="info-time">
                                    <i class="fa fa-calendar fa-fw"></i>開始時間：
                                </span>
                                <span>此為長期投票</span>
                            {% else %}
                                <span class="info-time">
                                    <i class="fa fa-calendar fa-fw"></i>開始時間：
                                </span>
                                <span>{{ issue.startTime }}</span>
                                <span>~</span>
                                <span>{{ issue.endTime }}
                                    (GMT +8)
                                </span>
                            {% endif %}
                        </div>
                        <div class="margin10 info-block">
                            <span class="info-category">
                                <i class="fa-fw fa fa-th-large" aria-hidden="true"></i>議題分類：
                            </span>
                            <a href="/category/{{ issue.category.title }}" target="_blank">
                                <span class="issue-category">{{ issue.category.title }}</span>
                            </a>
                        </div>
                        <div class="margin10 info-block">
                            <span class="info-counter">
                                <i class="fa fa-users fa-fw"></i>投票人數：
                            </span>
                            <span>{{ issue.counter }}</span>
                        </div>
                        <div class="margin10 info-block last-block">
                            <div class="article-tag">
                                <i class="fa-fw fa fa-tag"></i>標籤：
                                {% for tag in issue.tags %}
                                    <span class="info label">
                                        <i class="fa fa-hashtag"></i>{{ tag }}
                                    </span>
                                {% endfor %}
                            </div>
                        </div>

                        <div>
                            <img itemprop="image" class="main-image" src="{{ issue.mainImage }}" alt="{{ issue.title }}">
                        </div>
                        <div class="article-content">
                            {{ issue.desc | safe }}
                        </div>
                        <div class="article-vote">
                            <form class="vote-form" action="/vote" issue-id="{{ issue._id }}" issue-sn="{{ issue.sn }}">
                                {% for question in issue.questions %}
                                    {% if user and issue.isVoted %}
                                        {# ---- 有登入且投過票的版面 ---- #}
                                        {% include "./partials/hasVoted.html" %}
                                        {% elif user %}
                                        {# ---- 有登入且沒有投過票的版面 ---- #}
                                        {% include "./partials/notVoted.html" %}
                                    {% else %}
                                        {# ---- 沒有登入 ---- #}
                                        {% include "./partials/notLogin.html" %}
                                    {% endif %}
                                {% endfor %}
                                {% if user and not issue.isVoted and issue.type == "VOTE" %}
                                    {# ---- 有登入且沒有投過票的按鈕 ---- #}
                                    <a id="vote-btn" class="button success">投票</a>
                                    {% elif not user and issue.type == "VOTE" %}
                                    {# ---- 沒登入的按鈕 ---- #}
                                    <a href="#login-modal" class="button success">請登入進行投票</a>
                                {% endif %}

                            </form>
                        </div>
                        <div class="arrow-prev-next">
                            {% if prevIssue %}
                                <a href="/issues/{{ prevIssue.sn }}" target="_blank">
                                    <div class="blockarea" style="height: 3.5rem">
                                        <i class="fa fa-chevron-left fa-fw fa-1x" aria-hidden="true"></i>
                                        <span class="prev">{{ prevIssue.title }}</span>
                                    </div>
                                </a>

                            {% else %}
                                <a href="/" target="_blank">
                                    <div class="blockarea" style="height: 3.5rem">
                                        <i class="fa fa-chevron-left fa-fw fa-1x" aria-hidden="true"></i>
                                        <span class="prev">回首頁</span>
                                    </div>
                                </a>
                            {% endif %}
                            {% if nextIssue %}
                                <a href="/issues/{{ nextIssue.sn }}" target="_blank">
                                    <div class="blockarea">
                                        <i class="fa fa-chevron-right fa-fw fa-1x" aria-hidden="true"></i>
                                        <span class="next">{{ nextIssue.title }}</span>
                                    </div>
                                </a>
                            {% else %}
                                <a href="/">
                                    <div class="blockarea">
                                        <i class="fa fa-chevron-right fa-fw fa-1x" aria-hidden="true"></i>
                                        <span class="next">回首頁</span>
                                    </div>
                                </a>
                            {% endif %}
                        </div>
                    </article>
                </section>
            </div>
        </main>
        {# ---- 側邊欄 ---- #}
        {% include "./partials/hotIssues.html" %}
        {% include "./partials/aside.html" %}
    </div>
{% endblock %}
