{% extends "../index.html" %}

{% block head %}
    <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
{% endblock %}

{% block container %}
    <div class="row">
        <main class="main-right column large-10">
            <div class="container" id="content">
                <section class="container" flex-container="row">
                    <article class="m-main-content m-competition" flex-item="8">
                        <div>
                            <img class="main-image" src="{{ issue.mainImage }}">
                        </div>
                        <h1 class="vote-title">
                            {{ issue.title }}
                        </h1>
                        <div style="margin-bottom:10px">
                            <span class="margin5">
                                <i class="fa fa-users fa-fw"></i>投票人數
                            </span>19808
                            <span class="margin5">
                                <i class="fa fa-inbox fa-fw"></i>收藏投票
                            </span>204
                            <span class="margin5">
                                <i class="fa fa-calendar fa-fw"></i>開始時間
                            </span>
                            <span>{{ issue.startTime }}</span>
                            <span class="margin5">~</span>
                            <span>{{ issue.endTime }}</span>
                        </div>
                        <div class="article-tag">
                            關鍵標籤:
                            {% for tag in issue.tags %}
                                <span class="info label">
                                    <i class="fa fa-hashtag"></i>{{ tag }}</span>
                            {% endfor %}
                        </div>
                        <div class="article-content">
                            {{ issue.desc | safe }}
                        </div>
                        <div class="article-vote">
                            <form class="vote-form" action="/vote" issue-id="{{ issue._id }}" issue-sn="{{ issue.sn }}">
                                {% for question in issue.questions %}
                                    <div class="callout">
                                        <h3>{{ question.content }}</h3>
                                        <ul class="menu vertical">
                                            {% for option in question.options %}
                                                <li>
                                                    <label class="radio">
                                                        <input type="radio" name="{{ question._id }}" value="{{ option._id }}">
                                                        <span class="outer">
                                                             <span class="inner"></span>
                                                        </span>
                                                        {{ option.content }}
                                                    </label>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                                <a id="vote-btn" class="button success">投票</a>
                            </form>
                        </div>
                    </article>
                </section>
            </div>
        </main>
        {# ---- 側邊欄 ---- #}
        {% include "./partials/aside.html" %}
    </div>
{% endblock %}
