<h1>{{ previewData.title }}</h1>
{% extends "../index.html" %}
{% set title = previewData.title %}
{% set description = previewData.desc|striptags|truncate(120) %}
{% set shareimage = previewData.mainImage %}

{% block container %}
    <div class="row content-margin-top">
        <main class="main-right column large-10">
            <div class="container" id="content">
                <section class="container" flex-container="row">
                    <article class="m-main-content m-competition" flex-item="8" itemprop="articleBody">
                        <h1 class="vote-title">
                            {{ previewData.title }}
                        </h1>
                        <div class="margin10 info-block">
                            <img src="http://lazyfamily.twbbs.org/social.png" class="social-btn">
                        </div>
                        <div class="margin10 info-block">
                            {% if previewData.continued %}
                                <span class="info-time">
                                    <i class="fa fa-calendar fa-fw"></i>開始時間：
                                </span>
                                <span>此為長期投票</span>
                            {% else %}
                                <span class="info-time">
                                    <i class="fa fa-calendar fa-fw"></i>開始時間：
                                </span>
                                <span>
                                    {{ previewData.startAtDay }} {{previewData.startAtHour }} ~
                                    {{ previewData.endAtDay }} {{previewData.endAtHour }} (GMT +8)
                                </span>
                            {% endif %}
                        </div>
                        <div class="margin10 info-block">
                            <span class="info-category">
                                <i class="fa-fw fa fa-th-large" aria-hidden="true"></i>議題分類：
                            </span>
                            <a href="#">
                                <span class="issue-category">{{ previewData.category.title }}</span>
                            </a>
                        </div>
                        <div class="margin10 info-block">
                            <span class="info-counter">
                                <i class="fa fa-users fa-fw"></i>投票人數：
                            </span>
                            <span>0</span>
                        </div>
                        <div class="margin10 info-block last-block">
                            <div class="article-tag">
                            <i class="fa-fw fa fa-tag"></i>標籤：
                                {% for tag in previewData.tags %}
                                    <span class="info label">
                                        <i class="fa fa-hashtag"></i>{{ tag }}
                                    </span>
                                {% endfor %}
                            </div>
                        </div>

                         <div>
                            <img itemprop="image" class="main-image" src="{{ previewData.mainImage }}" alt="{{ previewData.title }}">
                        </div>
                        <div class="article-content">
                            {{ previewData.desc | safe }}
                        </div>
                        <div class="article-vote">
                            <form class="vote-form" action="/vote" issue-id="{{ previewData._id }}" issue-sn="{{ previewData.sn }}">
                                {% for question in previewData.questions %}
                                    {% include "./partials/previewVoted.html" %}
                                {% endfor %}
                            </form>
                        </div>
                    </article>
                </section>
            </div>
        </main>
        {# ---- 側邊欄 ---- #}
        {% include "./partials/hotIssues.html" %}
    </div>
{% endblock %}
