{% extends "../index.html" %}

{% block container %}
    <div class="row column text-center">
        <h2 class="main-title">分類議題</h2>
    </div>
    <div class="row small-up-1 medium-up-2 large-up-4" data-toggler data-animate="slide-in-down slide-out-up">
        {% for issue in issues %}
            <div class="column text-center">
                <div class="issue_area">
                    <img class="thumbnail" src="{{ issue.thumbnail }}">
                    <h6>{{ issue.title }}</h6>
                    <div class="stats">
                        <div class="users">
                            <i class="fa fa-pie-chart"></i>
                            已有
                            <span class="num-count">{{ issue.counter }}</span>用戶 投過票
                        </div>
                    </div>
                    <a href="/issues/{{ issue.sn }}" class="button bold">VOTE NOW!</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if issues.length != 0 %}
        <ul class="pagination text-center" role="navigation" aria-label="Pagination">
            {% if pageInfo.prevPage %}
                <li class="pagination-previous">
                    <a href="{{ thisUrl }}?page={{ pageInfo.currentPage - 1 }}" aria-label="Next page">前一頁</a>
                </li>
            {% else %}
                <li class="pagination-previous disabled">前一頁</li>
            {% endif %}
            <li class="current">{{ pageInfo.currentPage }}</li>
            {% if pageInfo.nextPage %}
                <li class="pagination-next">
                    <a href="{{ thisUrl }}?page={{ pageInfo.currentPage + 1 }}" aria-label="Next page">下一頁</a>
                </li>
            {% else %}
                <li class="pagination-next disabled">下一頁</li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
