// remodal
.remodal {
    .fb-area {
        background: #3b5998;
        color: #fff;
        padding: 20px;
        margin: 5px 0;
        border-radius: 5px;
    }
    .google-area {
        background: #DD4B39;
        color: #fff;
        padding: 20px;
        margin: 5px 0;
        border-radius: 5px;
    }
    .left-content{
        border-right: 1px solid #ddd;
        padding-top: 8px;
        .columns label{
            font-size: 16px;
            line-height: 39px;
        }
    }
    .secondary.button {
        background: #777;
    }
    .remodal-close {
        left: auto;
        right: 0;
    }

}
