// remodal

.remodal {
  .fb-btn{
    background: #3b5998;
    color: #fff;
    padding: 10px;
        margin: 5px 0;
  }
  .google-box{
    background: #DD4B39;
    color: #fff;
      padding: 10px;
          margin: 5px 0;
    }
}
