{% extends "../index.html" %}

{% set title = '投過的議題' %}

{% block container %}
    <div class="row content-margin-top">
        <main class="main-right column large-10">
            <section class="container" flex-container="row">
                <div class="row me-lissue">
                    <div class="small-12 small-centered columns">
                        {# 麵包屑 #}
                        <ul class="breadcrumbs">
                            <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                <a itemprop="url" href="/">
                                    <span itemprop="title">
                                        <i class="fa fa-home fa-fw" aria-hidden="true"></i>首頁</span>
                                </a>
                            </li>
                            <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                <a itemprop="url" href="/user/me">
                                    <span itemprop="title">
                                        <i class="fa fa-user fa-fw" aria-hidden="true"></i>我的帳戶</span>
                                </a>
                            </li>
                            <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                <span itemprop="title">{{ title }}</span>
                            </li>
                        </ul>

                        {% for issue in issues %}
                            <article class="m-main-content m-competition" flex-item="8">
                                <div class="callout issue-area">
                                    <a class="media-object" href="/issues/{{ issue.sn }}">
                                        <div class="media-object-section">
                                            <img class="issue-img" src="{{ issue.thumbnail }}">
                                        </div>
                                        <div class="media-object-section">
                                            <h4>{{ issue.title }}</h4>
                                            <div class="desc">
                                                {{ issue.desc|safe }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </main>
        {# ---- 側邊欄 ---- #}
        <aside class="aside-left column large-5">
            <section>
                <ul class="menu vertical">
                    <li>
                        <a class="user-switch" href="/user/me">基本資料</a>
                    </li>
                    <li>
                        <a class="user-switch active">投過的議題</a>
                    </li>
                </ul>
            </section>
        </aside>
    </div>
{% endblock %}
