<aside class="aside-left column large-5">
    <section>
        <h3 class="news-title">
            熱門新聞
        </h3>
        <div class="vote_list">
            {% for idx in range(0, 5) %}
                {% set shortTitle = hotNews[idx].stitle %}
                {% set img = hotNews[idx].imgs[0].img %}
                {% set date = hotNews[idx].d %}
                {% set time = hotNews[idx].t %}
                {% set url = "http://www.nownews.com" + hotNews[idx].url %}
                <div class="vote_item">
                    <div class="div-circle">{{ loop.index}}</div>
                    <div class="vote_img">
                        <a target="_blank" href="{{ url }}"><img src="http://imgapi.nownews.com/?w=100&h=100&q=60&src={{ img }}"></a>
                    </div>
                    <div class="vote_description">
                        <div class="vote_title">
                            <a target="_blank" href="{{ url }}">{{ shortTitle }}</a>
                        </div>
                        <span class="vote_category">熱門新聞 |</span>
                        <span class="vote_date">{{ date }} {{ time }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</aside>
