{% extends "./index.html" %}

{% block head %}
    <script>
        $(function () {

        });
    </script>
    <style>
        .switch.round,
        .columns.pricing-table {
            margin: 0;
        }

    </style>
{% endblock %}

{% block breadcrumbs %}
<li>
    <a href="/menu">選單管理系統</a>
</li>
<li class="current">
    <a href="#">新增選單</a>
</li>
{% endblock %}

{% block container %}
<article>
    <h3>新增選單</h3>
    <form method="post" href="/menu/create/">

        {# :: hrefSet - 可以設置預設的 url 加上 type #}
        {% macro hrefSet(type, id) %}
            /menu/{{ type }}/{{ id }}
        {% endmacro %}

        <div class="row">
            <div class="large-12 columns">
                <label>標題
                    <input name="bbb" type="text" placeholder="標題"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-4 columns">
                <label>URL
                    <input name="aaa" type="url" placeholder="URL"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-4 columns">
                <label>圖片(images)
                    <input type="file" placeholder="large-4.columns"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-4 columns">
                <label>狀態 (on/off)
                    <div class="switch round small">
                        <input name="123" id="exampleCheckboxSwitch2" type="checkbox">
                        <label for="exampleCheckboxSwitch2"></label>
                    </div>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-4 columns">
                <label>有效期間
                    <input type="url" placeholder="URL"/>
                </label>
            </div>
        </div>
        <div class="columns row btn-box text-right">
            <input type="submit" value="新增" class="button alert" />
            <a href="{{ hrefSet('') }}" class="button secondary">取消</a>
        </div>
    </form>
</article>
{% endblock %}
