{% extends "../index.html" %}

{% block head %}
    <script src="/bower/foundation-datepicker/js/foundation-datepicker.js"></script>
    <script src="/bower/foundation-datepicker/js/locales/foundation-datepicker.zh-TW.js"></script>
    <script>
        $(function () {
			var nowTemp = new Date();
			var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
			var checkin = $('#dpd1').fdatepicker({
				onRender: function (date) {
					return date.valueOf() < now.valueOf() ? 'disabled' : '';
				},
                format: 'yyyy-mm-dd',
                language: 'zh-TW'
			}).on('changeDate', function (ev) {
				if (ev.date.valueOf() > checkout.date.valueOf()) {
					var newDate = new Date(ev.date)
					checkout.update(newDate);
				}
				checkin.hide();
				$('#dpd2')[0].focus();
			}).data('datepicker');
			var checkout = $('#dpd2').fdatepicker({
				onRender: function (date) {
					return date.valueOf() != checkin.date.valueOf() ? 'disabled' : '';
				},
                format: 'hh:ii',
                startView: "day",
                language: 'zh-TW'
			}).on('changeDate', function (ev) {
				checkout.hide();
			}).data('datepicker');
        });
    </script>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/bower/foundation-datepicker/css/foundation-datepicker.min.css">
    <style>
        .switch.round,
        .columns.pricing-table {
            margin: 0;
        }
        .datepicker-hours thead, .datepicker-hours thead .prev, .datepicker-hours thead .next {
            visibility: hidden !important;
        }

        input.start-time, input.end-time {
            float: left;
            width: inherit;
            margin-right: 10px;
        }
        .timepicker-title {
            font-size: 0.875rem;
            margin: 0;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
<li>
    <a href="/menu">選單管理系統</a>
</li>
<li class="current">
    <a href="#">新增選單</a>
</li>
{% endblock %}

{% block container %}
<article>
    <h3>新增選單</h3>
    <form method="post" href="/menu/create/">

        {# :: hrefSet - 可以設置預設的 url 加上 type #}
        {% macro hrefSet(type, id) %}
            /menuCategory/{{ type }}/{{ id }}
        {% endmacro %}

        <div class="row">
            <div class="large-12 columns">
                <label>標題
                    <input name="bbb" type="text" placeholder="標題"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-4 columns">
                <label>URL
                    <input name="aaa" type="url" placeholder="URL"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-4 columns">
                <label>圖片(images)
                    <input type="file" placeholder="large-4.columns"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-4 columns">
                <label>狀態 (on/off)
                    <div class="switch round small">
                        <input name="123" id="exampleCheckboxSwitch2" type="checkbox">
                        <label for="exampleCheckboxSwitch2"></label>
                    </div>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <label>
                    <p class="timepicker-title">有效期間</p>
                    <input type="text" class="start-time" value="" id="dpd1">
                    <input type="text" class="end-time" value="" id="dpd2">
                </label>
            </div>
        </div>
        <div class="columns row btn-box text-right">
            <input type="submit" value="新增" class="button alert" />
            <a href="{{ hrefSet('') }}" class="button secondary">取消</a>
        </div>
    </form>
</article>
{% endblock %}
