<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="zh">
    <head>
        <title></title>
        {% include "./blocks/head.html" %}
        {% block head %}{% endblock %}
    </head>
    <body>
        {% include "./blocks/header.html" %}
        <div class="row">
            <div class="large-9 columns" role="content">
                <nav aria-label="You are here:" role="navigation">
                    <ul class="breadcrumbs">
                        <li><a href="/">Home</a></li>
                        {% block breadcrumbs %}{% endblock %}
                    </ul>
                {% block container %}{% endblock %}
            </div>
            <aside class="large-3 columns">
                {% include "./blocks/slides.html" %}
            </aside>
        </div>
        {% include "./blocks/footer.html" %}
    </body>
</html>

<body>
