<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="zh" > <![endif]-->
<html class="no-js" lang="zh">
    <head>
        <title>{{ pageTitle }}</title>
        {% include "./blocks/head.html" %}

        <!-- 各頁自行引入的 -->
        {% block head %}{% endblock %}
    </head>
    <body>

        {# :: component - 裡面會有一些基本的 component 可以使用 #}
        {% import "component/component.html" as component %}

        {% include "./blocks/header.html" %}
        <div class="row">
            <div class="large-9 medium-9 columns" role="content">
                <nav class="callout small">
                    <ul class="breadcrumbs">
                        <li><a href="/">Home</a></li>
                        {% block breadcrumbs %}{% endblock %}
                    </ul>
                </nav>
                {% block container %}{% endblock %}
            </div>
            <aside class="large-3 medium-3 columns">
                {% include "./blocks/sideBar.html" %}
            </aside>
        </div>
        {% include "./blocks/footer.html" %}
    </body>
</html>

<body>
