<script type='text/javascript'>
  googletag.cmd.push(function() {

var mapping = googletag.sizeMapping().
addSize([1000, 0], [970, 90]).
addSize([640, 0], [468, 60]).
addSize([320, 0], [320, 50]).
addSize([0, 0], [320, 50]).
build();

    googletag.defineSlot('/5799246/SF_Nownews_votenownews_ch_rwd', [[320, 50], [970, 90], [468, 60]], 'div-gpt-ad-1462264680580-0').defineSizeMapping(mapping).addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
  });
</script>

<!-- /5799246/SF_Nownews_votenownews_ch_rwd -->
<div id='div-gpt-ad-1462264680580-0' class="ads">
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1462264680580-0'); });
</script>
</div>
