<div class="ads-block-300x600">
    {# TODO 暫時拿美人幫的內頁廣告來用 #}
    <script type='text/javascript'>
        googletag.cmd.push(function() {
            googletag.defineSlot('/5799246/Nownews_beaute_pc_300x600', [[300, 250], [300, 450], [300, 600]], 'div-gpt-ad-1439263635186-0').addService(googletag.pubads());
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
        });
    </script>

    <!-- /5799246/Nownews_beaute_pc_300x600 -->
    <div id='div-gpt-ad-1439263635186-0'>
        <script type='text/javascript'>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1439263635186-0'); });
        </script>
    </div>
</div>
