{% extends "../index.html" %}

{# 設定變數 #}
{% set pageTitle = "新增 Banner" %}
{% set pageRoute = "/banner" %}

{% block head %}
    <script src="/static/dist/js/foundation-datepicker.min.js"></script>
    <script src="/static/dist/js/foundation-datepicker.zh-TW.min.js"></script>
{% endblock %}

{% block breadcrumbs %}
<li>
    <a href="{{ pageRoute }}">輪播圖管理系統</a>
</li>
<li>{{ pageTitle }}</li>
{% endblock %}

{% block container %}
<article>
    <form method="post" action="{{ pageRoute }}/create" enctype="multipart/form-data">
        <h3>{{ pageTitle }}</h3>
        <div class="status row float-right">
            <div class="large-4 columns">
                {{ component.switch("status", "create-status") }}
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>標題
                    <input name="title" type="text" placeholder="請輸入標題" required/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>URL
                    <input name="url" type="text" placeholder="請輸入URL" required/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>描述
                    <textarea name="desc" placeholder="請輸入描述" required></textarea>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <input type='file' class="show-for-sr img-input" id="img-desktop" name="desktopBanner" required>
                <label for="img-desktop">
                    <img class="thumbnail" src="http://placehold.it/2000x450" id="blah" src="#" alt="deskopImage">
                </label>
                <label for="img-desktop" class="button">上傳圖片(Desktop)</label>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <input type='file' class="show-for-sr img-input" id="img-mobile" name="mobileBanner" required>
                <label for="img-mobile">
                    <img class="thumbnail" src="http://placehold.it/480x280" id="blah" src="#" alt="mobileBanner">
                </label>
                <label for="img-mobile" class="button">上傳圖片 (Mobile)</label>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12">
                {{ component.formEffectiveTime() }}
            </div>
        </div>
        <div class="text-right btn-box">
            <input type="submit" value="儲存" class="button success"/>
            <a href="{{ pageRoute }}" class="button secondary">取消</a>
        </div>
    </form>
</article>
{% endblock %}
